<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
    exercitationem eligendi, atque adipisci, velit dolorum temporibus quidem
    minima perferendis est minus nisi fuga aspernatur laboriosam. Provident
    blanditiis inventore quo! Quo?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Ephy Kamau</h3>
        <p class="quote__organization">Eyelink Creations</p>
      </div>
    </div>
  </footer>
</blockquote>
